<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />
    <link rel="stylesheet" href="css/404.css" />
    <title>404 | Dorothea Online</title>
  </head>
  <body>
    <header>
      <script src="src/Header.Gen.js"></script>
    </header>
    <main>
      <section class="error__container">
        <div class="error_text__container">
          <h2>
            <p>Ups... No encontramos lo que buscabas :(</p>
            <p>
              Puedes regresar a la página principal dandole al boton de:
              <a href="/">INICIO</a>
            </p>
          </h2>
        </div>

        <div id="error_img" class="error_img__container">
          <script src="js/404.js"></script>
        </div>
      </section>
    </main>
    <footer>
      <script src="src/Footer.Gen.js"></script>
    </footer>
  </body>
</html>
