<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />
    <link rel="stylesheet" href="css/About.css" />
    <title>Dorothea Online - About</title>
</head>

<body>
    <header>
        <script src="src/Header.Gen.js"></script>
    </header>
    <main>
        <!-- Mision -->
        <section class="mision__container">
            <div class="ms_img__container">
                <img id="msImg" src="img/alumnos2_mejorada.jpg" alt=".misionImg" />
            </div>
            <div class="ms_text__container">
                <p>
                    • Ser una Institución ampliamente reconocida en la formación y desarrollo de profesionales de Enfermería en la Región y en el País.
                </p>
                <p>
                    • Ser una Escuela que transformará la cultura de su organización, el carácter de sus Alumnos y empleados y la vida familiar de los mismos logrando de esta manera alcanzar el verdadero éxito.
                </p>
                <p>
                    • Promover el desarrollo humano a través del conocimiento y las prácticas del cuidado y autocuidado de la salud, con visión holística y dinámica de individuo y colectivos.
                </p>
                <p>
                    • Privilegiar la formación de ciudadanos éticos, participativos y solidarios en los procesos de cambio social, a través de interacciones reales para la reflexión colectiva.
                </p>
            </div>
        </section>
        <!-- End Mision -->

        <!-- Vision -->
        <section class="vision__container">
            <div class="vs_text__container">
                <p>
                    Ser una institución para la formación, fortalecimiento y transformación del conocimiento, la cultura y el carácter del profesional de enfermería, impactando con integridad, previsión , humanismo , responsabilidad compartida , su entorno y el de aquellos
                    que se encuentran a su cuidado, constituyéndose en profesionales competentes, reflexivos, críticos, comprometidos con la solución de los problemas y necesidades de salud del individuo , la familia y la comunidad en todas y cada una
                    de las etapas del ciclo de la vida
                </p>
            </div>
            <div class="vs_img__container">
                <img id="vsImg" src="img/alumons3_mejorada.jpeg" alt=".visionImg" />
            </div>
        </section>
        <!-- End Visiosn -->

        <footer>
            <script src="src/Footer.Gen.js"></script>
        </footer>
    </main>
</body>

</html>