<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dorothea Online - Licenciaturas</title>
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />

    <link rel="stylesheet" href="css/Index.css" />
    <script defer src="js/Slider.js"></script>
  </head>
  <body>
    <header>
      <script src="src/Header.Gen.js"></script>
    </header>
    <main>
      <!-- Slider -->
      <section class="slider__container">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img class="slider_item" src="img/alumnos.jpg" />
          </div>

          <div class="mySlides fade">
            <img class="slider_item" src="img/exterior1.jpg" />
          </div>

          <div class="mySlides fade">
            <img class="slider_item" src="img/foro3.jpg" />
          </div>

          <div class="mySlides fade">
            <img class="slider_item" src="img/foro.jpg" />
          </div>

          <div class="mySlides fade">
            <img class="slider_item" src="img/foro2.jpg" />
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />

        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
      </section>
      <!-- End Slider -->

      <!-- Description -->
      <section class="description__container">
        <div class="description_text_container">
          <p>"UNA ESCUELA DE HONOR Y FORMACION HOLISTICO HUMANISTA"</p>
        </div>
      </section>
      <!-- End Description -->
      <!--
        ( ͡° ͜ʖ ͡°) GRANDE CHIPA ( ͡° ͜ʖ ͡°)
      -->
    </main>
    <footer>
      <script src="src/Footer.Gen.js"></script>
    </footer>
  </body>
</html>
