<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />
    <title>Dorothea Online - Modelo</title>
  </head>
  <body>
    <header>
      <script src="src/Header.Gen.js"></script>
    </header>
    <main>
        <section>
            <div>
                <h1>MODELO EDUCATIVO</h1>
            </div>
        </section>
    </main>
    <footer>
      <script src="src/Footer.Gen.js"></script>
    </footer>
  </body>
</html>
