<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />
    <link rel="stylesheet" href="css/Programs.css" />
    <title>Dorothea Online - Programa</title>
  </head>
  <body>
    <header>
      <script src="src/Header.Gen.js"></script>
    </header>
    <main>
      <section class="pro_title__container">
        <h1>EXPLORA TUS MATERIAS</h1>
      </section>
      <section class="pro__container first">
        <div class="pro_item">
          <h3>Primer Semestre</h3>
          <div>
            <li>FUNDAMENTOS DE ENFERMERÍA I</li>
            <li>ENFERMERIA COMUNITARIA I</li>
            <li>ANATOMÍA Y FISIOLOGÍA I</li>
            <li>ETIMOLOGÍAS TÉCNICAS</li>
            <li>ANTROPOLOGIA SOCIAL</li>
            <li>PSICOLOGÍA GENERAL</li>
            <li>INGLÉS I</li>
          </div>
        </div>

        <div class="pro_item">
          <h3>Segundo Semestre</h3>
          <div>
            <li>FUNDAMENTOS DE ENFERMERÍA II</li>
            <li>ENFERMERÍA COMUNITARIA II</li>
            <li>ANATOMÍA Y FISIOLOGÍA II</li>
            <li>MICROBIOLOGÍA Y PARASITOLOGÍA</li>
            <li>NUTRICIÓN BÁSICA</li>
            <li>INGLÉS II</li>
            <li>COMPUTACIÓN</li>
            <li>PRÁCTICAS DE FUNDAMENTOS DE ENFERMERÍA II</li>
            <li>PRÁCTICAS DE ENFERMERÍA COMUNITARIA II</li>
          </div>
        </div>
      </section>
      <section class="pro__container second">
        <div class="pro_item">
          <h3>Tercer Semestre</h3>
          <div>
            <li>PROCESO DE ATENCION DE ENFERMERIA</li>
            <li>ENFERMERÍA MÉDICO QUIRÚRGICA I</li>
            <li>ENFERMERÍA COMUNITARIA III</li>
            <li>PATOLOGÍA MÉDICA I</li>
            <li>METODOLOGÍA DE LA INVESTIGACIÓN</li>
            <li>FARMACOLOGÍA I</li>
            <li>DIETOTERAPIA</li>
            <li>INGLÉS III</li>
            <li>PRÁCTICAS DE ENFERMERÍA MÉDICO QUIRÚRGICA I</li>
          </div>
        </div>
        <div class="pro_item">
          <h3>Cuarto Semestre</h3>
          <div>
            <li>ENFERMERÍA MÉDICO QUIRÚRGICA II</li>
            <li>TÉCNICAS QUIRÚRGICAS</li>
            <li>ENFERMERÍA MATERNO INFANTIL</li>
            <li>PATOLOGÍA MÉDICA II</li>
            <li>ENFERMERÍA OBSTÉTRICA Y GINECOLOGÍA</li>
            <li>FARMACOLOGÍA II</li>
            <li>CRECIMIENTO Y DESARROLLO</li>
            <li>PRÁCTICAS EN ENFERMERÍA MÉDICO QUIRÚRGICA II</li>
          </div>
        </div>
      </section>
      <section class="pro__container third">
        <div class="pro_item">
          <h3>Quinto Semestre</h3>
          <div>
            <li>ENFERMERÍA MÉDICO QUIRÚRGICA III</li>
            <li>ENFERMERÍA PEDIÁTRICA</li>
            <li>
              ADMINISTRACIÓN DE INSTITUCIONES DE SALUD Y SERVICIOS DE ENFERMERÍA
            </li>
            <li>PATOLOGÍA MÉDICA III</li>
            <li>PATOLOGÍA PEDIÁTRICA</li>
            <li>
              PRÁCTICAS DE ADMINISTRACIÓN DE LAS INSTITUCIONES DE SALUD Y
              SERVICIOS DE ENFERMERÍA
            </li>
            <li>PRÁCTICAS DE ENFERMERÍA PEDIÁTRICA</li>
          </div>
        </div>
        <div class="pro_item">
          <h3>Sexto Semestre</h3>
          <div>
            <li>ENFERMERÍA PSIQUIÁTRICA</li>
            <li>ENFERMERÍA GERIÁTRICA</li>
            <li>PATOLOGÍA PSIQUIÁTRICA</li>
            <li>SEMINARIO DE TESIS</li>
            <li>SALUD EN EL TRABAJO Y SEGURIDAD LABORAL</li>
            <li>ÉTICA PROFESIONAL Y LEGISLACIÓN</li>
            <li>PRÁCTICAS DE ENFERMERÍA GERIÁTRICA</li>
            <li>PRÁCTICAS DE ENFERMERÍA PSIQUIÁTRICA</li>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <script src="src/Footer.Gen.js"></script>
    </footer>
  </body>
</html>
