<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/General.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/Footer.css" />
    <link rel="stylesheet" href="css/Recovery.css">
    <title>Dorothea Online - Recuperar contraseña</title>
  </head>
  <body>
    <header>
      <script src="src/Header.Gen.js"></script>
    </header>
    <main>
      <section class="recovery__container">
        <div class="recovery_form__container">
          <form id="recovery_form" method="post">
            <div class="form-control">
              <label
                >Escribe la dirección de correo electrónico asociado a tu
                cuenta</label
              >
              <input type="text" id="email">
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>

            <button id="btnSumit">Enviar</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <script src="src/Footer.Gen.js"></script>
    </footer>
  </body>
</html>
