<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/General.css">
    <link rel="stylesheet" href="css/Header.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/Register.css">
    <title>Dorothea Online - Registro</title>
</head>

<body>
    <header>
        <script src="src/Header.Gen.js"></script>
    </header>
    <main>
        <section class="register__container">
            <div class="register_text__container">
                <h1>
                    <p>Regístrate</p>
                </h1>
            </div>
            <form id="register_form">
                <label for="">Nombre(s)</label>
                <input type="text" id="name">
                <label for="">Apellidos</label>
                <input type="text" id="lastname">
                <label for="">Correo electrónico</label>
                <input type="email" id="email">
                <label for="">Matrícula escolar</label>
                <input type="text" id="matricula">
                <label for="">Contraseña</label>
                <input type="password" id="pass">
                <label for="">Confirmar contraseña</label>
                <input type="password" id="confirm_pass">
                <input type="button" value="Enviar">
            </form>
        </section>
    </main>
    <footer>
        <script src="src/Footer.Gen.js"></script>
    </footer>
</body>

</html>