footer {
  background-color: var(--BG_COLOR);
}

footer:hover {
  cursor: default;
}

.footer_info__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--GEN_MARGIN);
  margin-bottom: 0;
}

.footer_icon {
  width: 70px;
  border-radius: 100%;
}

.footer_logo {
  width: 200px;
}

.footer_info_text {
  width: 700px;
  text-align: center;
  color: #e0e0e0;
  padding: 10px;
}

.footer_info_text.text {
  font-size: 15px;
}

.footer_info_text.links {
  font-size: 20px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #e0e0e0;
}

a:hover {
	color: #8F8F8F;
}

.footer_info_text li {
  list-style: none;
}
