@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

/* Test */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BG_COLOR: #6a040f;
  --BG_COLOR_V2: #760510;
  --BG_COLOR_V3: #270105;
  --TEXT_COLOR: white;

  --SUB_HEADER_BG_COLOR: #4f030a;

  --SUB_HEADER_FONT: "Anton", sans-serif;
  --CONTACT_FONT: "Open Sans", sans-serif;

  --MOBILE_TEXT: 10px;
  --TABLET_TEXT: 15px;
  --PC_TEXT: 20px;

  --BTN_COLOR: #f5f5f5;
  --HOVER_COLOR: #e0e0e0;

  --GEN_PADDING: 0% 2% 0% 2%;
  --GEN_MARGIN: 0.5% 0.5% 0.5% 0.5%;

  --MAP_WIDTH: 1200px;
  --MAP_RADIUS: 25px;

  --IMG_WIDTH: 720px;

  /* Footer */
  --TEXT_FOOTER_COLOR: #e0e0e0;
  --TEXT_FOOTER_COLOR_HOVER: #8f8f8f;

  /* Test */
  --TEST_ONE: 'Oswald', sans-serif;
}
