.login__container {
    display: flex;
    justify-content: center;
}

.login__format {
    background-color: var(--BG_COLOR);
    font-family: var(--CONTACT_FONT);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    margin: var(--GEN_MARGIN);
}

#login_form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.login__container input[type=button] {
    background-color: var(--BTN_COLOR);
    border: 2px solid var(--BTN_COLOR);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 15px;
}

.login__container input[type=button]:hover {
    background-color: var(--HOVER_COLOR);
    border: 2px solid var(--HOVER_COLOR);
    cursor: pointer;
}

.login__container a {
    color: rgb(179, 179, 179);
}

.login__container a:hover {
    color: rgb(104, 99, 121);
}

.login_text__container {
    text-align: center;
    padding-top: 15px;
}

.forgot_pass__container {
    margin-top: 1.5%;
}


/*Responsive chipa*/


/*Mobile*/

@media (min-width: 320px) {
    #vsImg {
        width: 300px;
    }
}


/*Tablets and laptops*/

@media (min-width: 768px) {}


/*PC MASTER RACE*/

@media (min-width: 1080px) {}