.pro_item {
  background-color: var(--BG_COLOR);
  color: var(--TEXT_COLOR);
  border-radius: 25px;
}

@media (min-width: 1080px) {
  .pro_title__container {
    text-align: center;
    font-size: 50px;
  }

  .pro__container {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    margin: 4% 0%;
  }

  .pro_item {
    width: 750px;
    height: 250px;
  }

  .pro_item h3 {
    text-align: center;
    margin: 2%;
  }

  .pro_item li {
    font-size: 15px;
    margin: 0.5% 1%;
  }
}
